**/*.svg
**/*.yml

lib/
es/
dist/
_site/
coverage/
public/

CNAME
LICENSE

yarn.lock
yarn-error.log
package.json
package-lock.json
netlify.toml

*.sh
*.snap
*.html
*.css

.gitignore
.npmignore
.prettierignore

.editorconfig
.eslintignore

.DS_Store